{% extends "layout.html" %}

{% block title %}
    Sell
{% endblock %}

{% block main %}
    <form action="/sell" method="post">
        <label for="symbol">Choose a symbol:</label>
        <select class="form-select mx-auto w-auto" style="margin:15px 0px;" name="symbol">
            <option disabled selected value="symbol">Symbol</option>
            {% for stock in stocks %}
            <option> {{ stock["symbol"] }} </option>
            {% endfor %}
        </select>
        <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="nr" name="shares" placeholder="Shares" type="number">
        <button class="btn btn-primary" style="margin:15px 0px;" type="submit">Sell</button>
    </form>
{% endblock %}
